BasedOnStyle: Google
UseTab: Always
IndentWidth: 2
TabWidth: 2
ColumnLimit: 0
AlignAfterOpenBracket: BlockIndent
AlwaysBreakTemplateDeclarations: Yes
SpaceBeforeParens: ControlStatementsExceptControlMacros
BreakBeforeBraces: Linux
ContinuationIndentWidth: 2
Standard: Cpp03
AlignEscapedNewlines: DontAlign
DerivePointerAlignment: false
PointerAlignment: Right
